In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvpath = Path("../PyBank/Resources/budget_data.csv")

budgetdata_df = pd.read_csv(csvpath, index_col= "Date" )
budgetdata_df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [3]:
# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

# Initialize lists to hold profitable and unprofitable day profits/losses
profitable_days = []
unprofitable_days = []

In [4]:
budgetdata_pnl = budgetdata_df["Profit/Losses"]
budgetdata_pnl

Date
Jan-2010    867884
Feb-2010    984655
Mar-2010    322013
Apr-2010    -69417
May-2010    310503
             ...
Oct-2016    102685
Nov-2016    795914
Dec-2016     60988
Jan-2017    138230
Feb-2017    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [5]:
# Iterate over each element of the list
for day_pnl in budgetdata_pnl:

    # Cumulatively sum up the total profits/losses and count of trading days
    total += day_pnl
    count += 1

    # Logic to determine minimum and maximum values
    if minimum == 0:
        minimum = day_pnl
    elif day_pnl < minimum:
        minimum = day_pnl
    elif day_pnl > maximum:
        maximum = day_pnl

    # Logic to determine profitable vs. unprofitable days
    if day_pnl > 0:
        profitable_days.append(day_pnl)
    elif day_pnl <= 0:
        unprofitable_days.append(day_pnl)

# Calculate the average
average = round(total / count, 2)
monthly_change = (budgetdata_pnl - budgetdata_pnl.shift(1))

# Count metrics
profitable_count = len(profitable_days)
unprofitable_count = len(unprofitable_days)

# Print out the summary statistics
print("Financial Analysis")
print("-------------------------")
print(f"Total Months: {count}")
print(f"Number of Profitable Days: {profitable_count}")
print(f"Number of Unprofitable Days: {unprofitable_count}")
print("-------------------------------------")
print(f"Profitable Days: {profitable_days}")
print(f"Unprofitable Days: {unprofitable_days}")
print("-------------------------------------")
print(f"Total: $ {total}")
# print(f"Average Change: {monthly_mean}")
# print(f"Greatest Decrease in Profits: {monthly_min}")
# print(f"Greatest Increase in Profits: {monthly_max}")

Financial Analysis
-------------------------
Total Months: 86
Number of Profitable Days: 74
Number of Unprofitable Days: 12
-------------------------------------
Profitable Days: [867884, 984655, 322013, 310503, 522857, 1033096, 604885, 477532, 893810, 779806, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, 1170593, 252788, 1151518, 817256, 570757, 506702, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, 268997, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, 757143, 445709, 712961, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
Unprofitable Days: [-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]
-------------------------------------
Total: $ 38382578

In [6]:
monthly_change = (budgetdata_pnl - budgetdata_pnl.shift(1))
monthly_change.head()

Date
Jan-2010         NaN
Feb-2010    116771.0
Mar-2010   -662642.0
Apr-2010   -391430.0
May-2010    379920.0
Name: Profit/Losses, dtype: float64

In [7]:
monthly_change.describe()

count    8.500000e+01
mean    -2.315118e+03
std      7.634372e+05
min     -2.196167e+06
25%     -3.686650e+05
50%      7.724200e+04
75%      3.983190e+05
max      1.926159e+06
Name: Profit/Losses, dtype: float64

In [8]:
monthly_max = monthly_change.describe().loc[['max']]
monthly_max

max    1926159.0
Name: Profit/Losses, dtype: float64

In [9]:
monthly_min = monthly_change.describe().loc[['min']]
monthly_min

min   -2196167.0
Name: Profit/Losses, dtype: float64

In [10]:
monthly_mean = monthly_change.describe().loc[['mean']]

In [11]:
#Print out the summary statistics
print("Financial Analysis")
print("-------------------------")
print(f"Total Months: {count}")
print(f"Total: $ {total}")
print(f"Average Change: $ {monthly_mean}")
print(f"Greatest Decrease in Profits: $ {monthly_max}")
print(f"Greatest Increase in Profits: $ {monthly_min}")

Financial Analysis
-------------------------
Total Months: 86
Total: $ 38382578
Average Change: $ mean   -2315.117647
Name: Profit/Losses, dtype: float64
Greatest Decrease in Profits: $ max    1926159.0
Name: Profit/Losses, dtype: float64
Greatest Increase in Profits: $ min   -2196167.0
Name: Profit/Losses, dtype: float64